{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
    <h1 class="title">Category index</h1>
    <div class="mb-4">
        <img src="{{ asset('images/animaux.jpg') }}" alt="Bienvenue sur le blog d'Animholi !" class="img-fluid">
    </div>

    <div class="card-group">
        {% for category in categories %}
            <div class="card">
                {% if category.name == 'Chiens' %}
                    <img src="{{ asset('images/chien.jpg') }}" class="card-img-top zoom-effect" alt="Chiens">
                {% elseif category.name == 'Chats' %}
                    <img src="{{ asset('images/chat.jpg') }}" class="card-img-top zoom-effect" alt="Chats">
                {% elseif category.name == 'Reptiles' %}
                    <img src="{{ asset('images/reptile.jpg') }}" class="card-img-top zoom-effect" alt="Reptiles">
                {% else %}
                    <img src="{{ asset('images/animaux.jpg') }}" class="card-img-top zoom-effect" alt="animaux">
                {% endif %}

                <div class="card-body">
                    <h5 class="card-title">{{ category.name }}</h5>
                </div>
                <div class="card-footer">
                    <a href="{{ path('category_show', {'id': category.id}) }}" class="btn btn-primary">Voir</a>
                    <a href="{{ path('category_edit', {'id': category.id}) }}" class="btn btn-secondary">Éditer</a>
                </div>
            </div>
        {% else %}
            <p>Aucune catégorie trouvée</p>
        {% endfor %}
    </div>

    <div class="new-article mt-4">
        <a class="btn btn-primary" href="{{ path('category_new') }}">Nouvelle catégorie</a>
    </div>
{% endblock %}
