{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
    <h1 class="title">Category</h1>
    <div class="mb-4">
        <img src="{{ asset('images/animaux.jpg') }}" alt="Bienvenue sur le blog d'Animholi !" class="img-fluid">
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ category.name }}</td>
            </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-center">
        <a href="{{ path('category_index') }}" class="btn btn-primary mx-2 mb-4">Retour à la liste</a>
        <a href="{{ path('category_edit', {'id': category.id}) }}" class="btn btn-secondary mx-2 mb-4">Éditer</a>
        {{ include('category/_delete_form.html.twig', {'button_class': 'btn btn-danger mx-2 mb-4'}) }}
    </div>
{% endblock %}
