{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <h1 class="title">Article</h1>
    <div class="mb-4">
        <img src="{{ asset('images/animaux.jpg') }}" alt="Bienvenue sur le blog d'Animholi !" class="img-fluid">
    </div>

    <div class="container mt-4">
    <div class="card w-90 mx-auto">
        <div class="card-body">
            <h5 class="card-title">{{ article.title }}</h5>
            <p class="card-text">{{ article.content }}</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <strong>Category:</strong>
                {% if article.Category.name is defined %}
                    {{ article.Category.name }}
                {% else %}
                    N/A
                {% endif %}
            </li>
            <li class="list-group-item">
                <strong>Id:</strong> {{ article.id }}
            </li>
        </ul>
        </div>
   
    
</div>
</br>



    <div class="d-flex justify-content-center">
        <a href="{{ path('article_index') }}" class="btn btn-primary mx-2 mb-4">Retour à la liste</a>
        <a href="{{ path('article_edit', {'id': article.id}) }}" class="btn btn-secondary mx-2 mb-4">Éditer</a>
        {{ include('article/_delete_form.html.twig', {'button_class': 'btn btn-danger mx-2 mb-4'}) }}
    </div>
{% endblock %}
